<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>simple-timer demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../paper-button/paper-button.html">

    <link rel="import" href="../simple-timer.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic simple-timer demo</h3>
      <demo-snippet>
        <template is="dom-bind">
          <simple-timer id="timer"></simple-timer>
          <paper-button on-tap="start">Start</paper-button>
        </template>
      </demo-snippet>
    </div>
    <div class="vertical-section-container centered">
      <h3>Basic simple-timer demo</h3>
      <demo-snippet>
        <template is="dom-bind">
          <simple-timer id="timer" start-time="5"></simple-timer>
          <paper-button on-tap="start">Start</paper-button>
        </template>
      </demo-snippet>
    </div>
    <div class="vertical-section-container centered">
      <h3>Basic count up simple-timer demo</h3>
      <demo-snippet>
        <template is="dom-bind">
          <simple-timer id="timer" start-time="5" count-up="true"></simple-timer>
          <paper-button on-tap="start">Start</paper-button>
        </template>
      </demo-snippet>
    </div>
    <script>
			var scopes = document.querySelectorAll('template[is=dom-bind]');
      scopes.forEach(function(scope) {
        scope.start = function() {
          this.$.timer.start();
        };
      });
		</script>
  </body>
</html>
