<link rel="import" href="../polymer/polymer.html">

<!--
`boiler-plate`
A LRN element

@demo demo/index.html

@microcopy - the mental model for this element
 -
 -
 -

-->

<dom-module id="boiler-plate">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[title]]</h2>
  </template>

  <script>
    Polymer({

      is: 'boiler-plate',

      properties: {
        title: {
          type: String,
          value: 'boiler-plate',
        },
      },

    });
  </script>
</dom-module>
