<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>multiple-choice demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../multiple-choice.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic multiple-choice demo</h3>
      <demo-snippet>
        <template>
          <multiple-choice correct="You got a meal deal" incorrect="You did not get a meal deal...." hide-title answers='[{"label": "Option 1", "correct": true},{"label": "Option 2", "correct": true},{"label": "Option 3", "correct": true},{"label": "Option 4 is not right", "correct": false}]'></multiple-choice>
        </template>
      </demo-snippet>
    </div>
    <div class="vertical-section-container centered">
      <h3>Basic multiple-choice demo</h3>
      <demo-snippet>
        <template>
          <multiple-choice disabled correct="You got a meal deal" incorrect="You did not get a meal deal...." hide-title answers='[{"label": "Option 1", "correct": true},{"label": "Option 2", "correct": true},{"label": "Option 3", "correct": true},{"label": "Option 4 is not right", "correct": false}]'></multiple-choice>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
