<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>md-extra-icons demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../iron-icons/iron-icons.html">
    <link rel="import" href="../md-extra-icons.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic md-extra-icons demo</h3>
      <demo-snippet>
        <template>
          <iron-icon icon="mdextra:subscript"></iron-icon>
          <iron-icon icon="mdextra:superscript"></iron-icon>
          <iron-icon icon="mdextra:hexagon"></iron-icon>
          <iron-icon icon="mdextra:hexagon-multiple"></iron-icon>
          <iron-icon icon="mdextra:hexagon-outline"></iron-icon>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
