<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>to-do demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../to-do.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic to-do demo</h3>
      <demo-snippet>
        <template>
          <to-do></to-do>
        </template>
      </demo-snippet>
    </div>
    <div class="vertical-section-container centered">
      <h3>Basic to-do demo</h3>
      <demo-snippet>
        <template>
          <to-do hide-form></to-do>
        </template>
      </demo-snippet>
    </div>
    <div class="vertical-section-container centered">
      <h3>Basic to-do demo</h3>
      <demo-snippet>
        <template>
          <to-do disabled-list></to-do>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
