<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>lrn-calendar-date test</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../lrn-calendar-date.html">
  </head>
  <body>
    <test-fixture id="basic">
      <template>
        <lrn-calendar-date></lrn-calendar-date>
      </template>
    </test-fixture>

    <script>
      suite('lrn-calendar-date', function() {
        test('instantiating the element works', function() {
          var element = fixture('basic');
          assert.equal(element.is, 'lrn-calendar-date');
        });
      });
    </script>
  </body>
</html>
