
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>github-corner tests</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../github-corner.html">
  </head>
  <body>

    <test-fixture id="github-corner">
      <template>
        <github-corner></github-corner>
      </template>
    </test-fixture>

    <script>
      suite('<github-corner>', function() {
        var element;
        setup(function() {
          element = fixture('github-corner');
        });
        test('instantiating the element works', function() {
          assert.equal(element.is, 'github-corner');
        });
      });
    </script>
  </body>
</html>
